$color-fondo: rgb(156, 154, 141);
$padding: 0;
$margin: 0;
$anchoMaximo : 100%;
$altoMaximo : 100%;
$color-Txt: rgb(114, 82, 0);
$principal-Font: 'Nunito', sans-serif;
$color-nav-header: #bbaf9c;
$color-fondo-secundario: rgb(156, 154, 141);
// $ancho-logo: 1%;